<style>
    tr{
        border: 1px solid;
    }
    th,td{
        padding: 2px 10px;
    }
</style>
<a routerLink="/" >Back</a>
<table style="width: 100%;margin: 5% 0;">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Role</th>
            <th>IP Address</th>
            <th>Login Time</th>
            <th>Logout Time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of allUsers |  paginate: { itemsPerPage: 10, currentPage: p };let i = index">
            <td>{{(p - 1) * 10 + i + 1}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.role}}</td>
            <td>{{user.clientIp}}</td>
            <td>{{user.loginTime | date:'medium'}}</td>
            <td>{{user.logoutTime | date:'medium'}}</td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>