﻿<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 7!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
<a *ngIf="currentUser.role == 'AUDITOR'" routerLink="/audit">
    <button  style="border: 1px solid black;
    font-size: 12px;
    height: 30px;
    width: 15%;
    cursor: pointer;">Audit</button>
</a>
